:root {
  --border-radius: 20px;
  --color-modal-overlayer: rgba(0,0,0,.7);
  --color-modal-bg: rgba(11,22,35,0.5);
  --color-modal-border: rgba(22,39,59,1);
  --color-dark-blue: rgba(11,22,35,0.8);
  --color-white: rgba(245,245,245,0.92);
  --color-yellow: #ffc61a;
  --color-pink: #CD6799;
  --color-purple: #a436f0;
  --color-gray: rgba(124,141,161,1);
  --color-light-gray: rgba(124,141,161,0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  * {
    overflow-y:visible;
  }

}

body {
  background-image: url('/static/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}